<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dirver.mapper.ExamTableMapper" >
  <resultMap id="BaseResultMap" type="com.dirver.pojo.ExamTable" >
    <id column="exam_id" property="examId" jdbcType="INTEGER" />
    <result column="exam_userName" property="examUsername" jdbcType="VARCHAR" />
    <result column="exam_userPhone" property="examUserphone" jdbcType="VARCHAR" />
    <result column="exam_projectType" property="examProjecttype" jdbcType="VARCHAR" />
    <result column="exam_carType" property="examCartype" jdbcType="VARCHAR" />
    <result column="exam_achievement" property="examAchievement" jdbcType="INTEGER" />
    <result column="exam_fied" property="examFied" jdbcType="INTEGER" />
    <result column="exam_time" property="examTime" jdbcType="VARCHAR" />
    <result column="exam_cost" property="examCost" jdbcType="DECIMAL" />
    <result column="exam_costState" property="examCoststate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    exam_id, exam_userName, exam_userPhone, exam_projectType, exam_carType, exam_achievement, 
    exam_fied, exam_time, exam_cost, exam_costState
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dirver.pojo.ExamTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_table
    where exam_id = #{examId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_table
    where exam_id = #{examId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dirver.pojo.ExamTableExample" >
    delete from exam_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dirver.pojo.ExamTable" >
    insert into exam_table (exam_id, exam_userName, exam_userPhone, 
      exam_projectType, exam_carType, exam_achievement, 
      exam_fied, exam_time, exam_cost, 
      exam_costState)
    values (#{examId,jdbcType=INTEGER}, #{examUsername,jdbcType=VARCHAR}, #{examUserphone,jdbcType=VARCHAR}, 
      #{examProjecttype,jdbcType=VARCHAR}, #{examCartype,jdbcType=VARCHAR}, #{examAchievement,jdbcType=INTEGER}, 
      #{examFied,jdbcType=INTEGER}, #{examTime,jdbcType=VARCHAR}, #{examCost,jdbcType=DECIMAL}, 
      #{examCoststate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dirver.pojo.ExamTable" >
    insert into exam_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examId != null" >
        exam_id,
      </if>
      <if test="examUsername != null" >
        exam_userName,
      </if>
      <if test="examUserphone != null" >
        exam_userPhone,
      </if>
      <if test="examProjecttype != null" >
        exam_projectType,
      </if>
      <if test="examCartype != null" >
        exam_carType,
      </if>
      <if test="examAchievement != null" >
        exam_achievement,
      </if>
      <if test="examFied != null" >
        exam_fied,
      </if>
      <if test="examTime != null" >
        exam_time,
      </if>
      <if test="examCost != null" >
        exam_cost,
      </if>
      <if test="examCoststate != null" >
        exam_costState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examId != null" >
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="examUsername != null" >
        #{examUsername,jdbcType=VARCHAR},
      </if>
      <if test="examUserphone != null" >
        #{examUserphone,jdbcType=VARCHAR},
      </if>
      <if test="examProjecttype != null" >
        #{examProjecttype,jdbcType=VARCHAR},
      </if>
      <if test="examCartype != null" >
        #{examCartype,jdbcType=VARCHAR},
      </if>
      <if test="examAchievement != null" >
        #{examAchievement,jdbcType=INTEGER},
      </if>
      <if test="examFied != null" >
        #{examFied,jdbcType=INTEGER},
      </if>
      <if test="examTime != null" >
        #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="examCost != null" >
        #{examCost,jdbcType=DECIMAL},
      </if>
      <if test="examCoststate != null" >
        #{examCoststate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dirver.pojo.ExamTableExample" resultType="java.lang.Integer" >
    select count(*) from exam_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exam_table
    <set >
      <if test="record.examId != null" >
        exam_id = #{record.examId,jdbcType=INTEGER},
      </if>
      <if test="record.examUsername != null" >
        exam_userName = #{record.examUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.examUserphone != null" >
        exam_userPhone = #{record.examUserphone,jdbcType=VARCHAR},
      </if>
      <if test="record.examProjecttype != null" >
        exam_projectType = #{record.examProjecttype,jdbcType=VARCHAR},
      </if>
      <if test="record.examCartype != null" >
        exam_carType = #{record.examCartype,jdbcType=VARCHAR},
      </if>
      <if test="record.examAchievement != null" >
        exam_achievement = #{record.examAchievement,jdbcType=INTEGER},
      </if>
      <if test="record.examFied != null" >
        exam_fied = #{record.examFied,jdbcType=INTEGER},
      </if>
      <if test="record.examTime != null" >
        exam_time = #{record.examTime,jdbcType=VARCHAR},
      </if>
      <if test="record.examCost != null" >
        exam_cost = #{record.examCost,jdbcType=DECIMAL},
      </if>
      <if test="record.examCoststate != null" >
        exam_costState = #{record.examCoststate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exam_table
    set exam_id = #{record.examId,jdbcType=INTEGER},
      exam_userName = #{record.examUsername,jdbcType=VARCHAR},
      exam_userPhone = #{record.examUserphone,jdbcType=VARCHAR},
      exam_projectType = #{record.examProjecttype,jdbcType=VARCHAR},
      exam_carType = #{record.examCartype,jdbcType=VARCHAR},
      exam_achievement = #{record.examAchievement,jdbcType=INTEGER},
      exam_fied = #{record.examFied,jdbcType=INTEGER},
      exam_time = #{record.examTime,jdbcType=VARCHAR},
      exam_cost = #{record.examCost,jdbcType=DECIMAL},
      exam_costState = #{record.examCoststate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dirver.pojo.ExamTable" >
    update exam_table
    <set >
      <if test="examUsername != null" >
        exam_userName = #{examUsername,jdbcType=VARCHAR},
      </if>
      <if test="examUserphone != null" >
        exam_userPhone = #{examUserphone,jdbcType=VARCHAR},
      </if>
      <if test="examProjecttype != null" >
        exam_projectType = #{examProjecttype,jdbcType=VARCHAR},
      </if>
      <if test="examCartype != null" >
        exam_carType = #{examCartype,jdbcType=VARCHAR},
      </if>
      <if test="examAchievement != null" >
        exam_achievement = #{examAchievement,jdbcType=INTEGER},
      </if>
      <if test="examFied != null" >
        exam_fied = #{examFied,jdbcType=INTEGER},
      </if>
      <if test="examTime != null" >
        exam_time = #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="examCost != null" >
        exam_cost = #{examCost,jdbcType=DECIMAL},
      </if>
      <if test="examCoststate != null" >
        exam_costState = #{examCoststate,jdbcType=VARCHAR},
      </if>
    </set>
    where exam_id = #{examId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dirver.pojo.ExamTable" >
    update exam_table
    set exam_userName = #{examUsername,jdbcType=VARCHAR},
      exam_userPhone = #{examUserphone,jdbcType=VARCHAR},
      exam_projectType = #{examProjecttype,jdbcType=VARCHAR},
      exam_carType = #{examCartype,jdbcType=VARCHAR},
      exam_achievement = #{examAchievement,jdbcType=INTEGER},
      exam_fied = #{examFied,jdbcType=INTEGER},
      exam_time = #{examTime,jdbcType=VARCHAR},
      exam_cost = #{examCost,jdbcType=DECIMAL},
      exam_costState = #{examCoststate,jdbcType=VARCHAR}
    where exam_id = #{examId,jdbcType=INTEGER}
  </update>
</mapper>